<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>
    <!-- make icon -->
    <link rel="icon" href="../assets/trash.svg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="projects-column">
            <div class="page-title">
                <h1>ToDo</h1>
            </div>
            <div class="projects">
            </div>
            <div class="add-project">
                <button class="add-project-button">Add Project</button>
            </div>
            
        </div>
        <div class="todo-column">
            
            <div class="current-project-title">
                <h1>Todo List</h1>
            </div>
            <div class="todo-container">
            <div class="todos">
            </div>
                <button class="add-todo btn">+ add</button>
            </div>
        </div>
        <div class="todo-form-container hidden">
            <form id="todo-form">
                <h2>add todo</h2>
                <label>
                title
                <input type="text" id="title" placeholder="Buy groceries..." required />
                </label>

                <label>
                due date
                <input type="date" id="dueDate" required />
                </label>

                <label>
                priority
                <input type="number" id="priority" min="1" max="3" value="1" />
                </label>
                <div class="form-btns">
                    <button type="submit" class="submit-button">+ add</button>
                    <button type="button" class="cancel-button">cancel</button>
                </div>
            </form>
        </div>
        <div class="delete-project-container hidden">
            <form id="delete-project-form">
                <h2 class="delete-project-title"></h2>
                <div class="form-btns">
                    <button type="submit" class="delete-project-button">yes, delete</button>
                    <button type="button" class="cancel-delete-project-button">nevermind</button>
                </div>
            </form>
        </div>
        <div class="project-form-container hidden">

        </div>
        <div class="footer">
            <p>made by </p>
            <a href="google.com"> Kessius</a>
        </div>
    </div>
</body>
</html>