<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>
    <!-- make icon -->
    <link rel="icon" href="../assets/trash.svg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="projects-column">
            <div class="page-title">
                <h1>ToDo</h1>
            </div>
            <div class="projects">
            </div>
            <div class="add-project">
                <button class="add-project-button">Add Project</button>
            </div>
            
        </div>
        <div class="todo-column">
            
            <div class="current-project-title">
                <h1>Todo List</h1>
            </div>
            <div class="todo-items">
            </div>
        </div>
        <div class="footer">
            <p>made by </p>
            <a href="google.com"> Kessius</a>
        </div>
    </div>
</body>
</html>