<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="projects-column">
            <div class="page-title">
                <h1>ToDo</h1>
            </div>
            <div class="projects">
                <div class="project-item">
                    <h2>Project 1</h2>
                </div>
                <div class="project-item">
                    <h2>Project 2</h2>
                </div>
                <div class="project-item">
                    <h2>Project 3</h2>
                </div>
            </div>
            <div class="project-buttons">
                <div class="add-project">
                    <button class="add-project-button">Add Project</button>
                </div>
                <div class="delete-project">
                    <button class="delete-project-button">Delete Project</button>
                </div>
            </div>
        </div>
        <div class="todo-column">
            
            <div class="project-title">
                <h1>Todo List</h1>
            </div>
            <div class="todo-items">
                <div class="todo-item"></div>
            </div>
        </div>
        <div class="footer">
            <p>made by </p>
            <a href="google.com"> Kessius</a>
        </div>
    </div>
    <div class="form-container"></div>
</body>
</html>